.nav-container {
  	/*position: fixed;
    	top: 0;*/
}

.nav-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
  top: 64px;
  width: 100%;
  min-height:100%;
  min-height: 100vh;
  height: 100%;
}

.sidenav-content {
  display: flex;
  min-height:100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

#sidenav-bg-shade {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height:100%;
  min-height: 100vh;
  background: rgba(168, 3, 129, 0.2);
  z-index: -1;
}

.sidenav {
  min-width: 200px;
  // box-shadow: 3px 0px 8px lightgray;
}

.sidenav-right {
  width: 400px;
  // box-shadow: -3px 5px 8px lightgrey;
}

.sidenav-profile-box {
  height: 130px;
  padding: 15px 15px 12px 15px;
}

.toolbar-spacer {
  flex: 1 1;
}

.toolbar-btn {
  margin: 10px;
}


